body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 120px;
}

h1 {
  border-bottom: 1px solid #999da0;
  color: #d4af37;
  padding: 8px;
}

.img-container {
  width: 640px;
  margin: 0 auto;
}

.img-caption {
  text-align: center;
  font-style: italic;
}